<div class="header-container">
  <div class="wrapper">
    <div class="form-group">
      <p>Simple Text Field</p>
      <app-text-field
        icon="assets/images/search.svg"
        placeholder="Suche nach Parks, Anlagen, ..."
        type="text"
        [initialValue]="''"
      ></app-text-field>
    </div>
    <div class="form-group">
      <p>Password Text Field Without Icon</p>
      <app-text-field
        placeholder="Password"
        type="text"
        [initialValue]="'1234'"
        type="password"
      ></app-text-field>
    </div>

    <div class="form-group">
      <p>Error State</p>
      <app-text-field
        icon="assets/images/search.svg"
        placeholder="Suche nach Parks, Anlagen, ..."
        type="text"
        [initialValue]="''"
        [error]="'Field is required'"
      ></app-text-field>
    </div>
    <div class="form-group">
      <p>Disabled State</p>
      <app-text-field
        icon="assets/images/search.svg"
        placeholder="Suche nach Parks, Anlagen, ..."
        type="text"
        [initialValue]="''"
        [disabled]="true"
      ></app-text-field>
    </div>
  </div>
</div>
